# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/
.expo/web/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# React Native
android/app/build/
ios/Pods/
ios/build/
*.xcuserdata/
*.xcworkspace
*.xcodeproj/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log

# VS Code
.vscode/
